<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Password</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar(pojok = 'Home')"></nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Update Password</div>
                <div class="card-body">
                    <form th:action="@{/user/update-password}" method="POST">
                        <input type="hidden" name="username" th:value="${#httpServletRequest.userPrincipal.name}">
                        <label>Password Lama</label>
                        <input type="password" name="passwordOld" class="form-control">
                        <label> Password Baru</label>
                        <input type="password" name="passwordNew" class="form-control"
                               pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
                               title="password harus mengandung angka dan huruf serta minimal memiliki 8 karakter" required>
                        <label> Konfirmasi Password Baru</label>
                        <input type="password" name="passwordConfirm" class="form-control"
                               pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
                               title="password harus mengandung angka dan huruf serta minimal memiliki 8 karakter" required>

                        <br>
                        <button type="submit" class="btn btn-primary">Simpan</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>