<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>403 Forbidden</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar(pojok = 'Error')"></nav>
<div class="container-fluid">
    <h2>Ups! Maaf anda tidak memiliki akses untuk melihat halaman ini</h2>
    <a th:href="@{/}">Kembali ke home</a>
</div>
</body>
</html>